# dependencies
*/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# typescript
*.tsbuildinfo
next-env.d.ts

#python
__pycache__
.pytest_cache

#vscode
.vscode

# random files
/playground.ipynb
/playground.py

# Distribution / packaging
.Python
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
node_modules

# Environments
env
env3
.env*
.env*.local
.venv*
*venv*
env*/
venv*/
ENV/
env.bak/
venv.bak/
.python-version
.mypy_cache
config.yaml
bun.lockb


# Jupyter Notebook
.ipynb_checkpoints

# Mac
.DS_Store

# Logs/tracking
llmstudio/llm_engine/logs/execution_logs.jsonl
*.db
.prettierignore
db
