@font-face {
  font-family: "Satoshi";
  src: url("../../../../public/fonts/Satoshi-Light.woff") format("woff");
  font-weight: 200;
}

@font-face {
  font-family: "Satoshi";
  src: url("../../../../public/fonts/Satoshi-Regular.woff") format("woff");
  font-weight: 300;
}

@font-face {
  font-family: "Satoshi";
  src: url("../../../../public/fonts/Satoshi-Medium.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "Satoshi";
  src: url("../../../../public/fonts/Satoshi-Bold.woff") format("woff");
  font-weight: 700;
}

@font-face {
  font-family: "Satoshi";
  src: url("../../../../public/fonts/Satoshi-Black.woff") format("woff");
  font-weight: 800;
}

@font-face {
  font-family: "VioletSans";
  src: url("../../../../public/fonts/VioletSans-Regular.woff") format("woff");
  font-weight: 400;
}
