/*----------------------------------*\
  #COLORS
\*----------------------------------*/

// Color palette

$color-blue: #2e61eb;
$color-red: #ec6a5e;
$color-yellow: #f6ca46;
$color-green: #60c554;

$color-grey-1: #f3f3f3;
$color-grey-2: #abacac;
$color-grey-3: #323438;

$color-light: #edeef0;
$color-dark: #1b1b1f;
$color-black: #000;

$color-primary: $color-blue;
$color-secondary: $color-blue;

// Core color settings

$color-background-html: $color-black;
$color-text: $color-light;

// Selection

::selection {
  background-color: $color-primary;
}
