OPENAI_API_KEY="your-openai-api-key"
ANTHROPIC_API_KEY="your-anthropic-api-key"
COHERE_API_KEY="your-cohere-api-key"
AZURE_API_KEY=""
AZURE_API_ENDPOINT=""
AZURE_API_VERSION=""
ENGINE_HOST="localhost"
ENGINE_PORT=8000
UI_HOST = "localhost"
UI_PORT = 3000
LOG_LEVEL = "info"
TRACKING_HOST="localhost"
TRACKING_PORT=8080
BACKEND_TRACKING_URI="sqlite:///./llmstudio_mgmt.db"
